<div class='follow-list'>
  <%= link_to image_tag("/user_images/#{user.image_name}"),"#{user_path(user)}" %>
  <%= link_to("#{user.name}","#{user_path(user)}") %>
  <p><%= user.profile.truncate(50) %></p>
</div>
