<% @user ||= @current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <p>フォロー中</p>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <p>フォロワー</p>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>
