<% content_for :title do %>
    3STEP | 新規投稿
<% end %>

<%= render 'home/status' %>

<div class='container-title'>
  <h1>新規投稿</h1>
</div>

<div class ='post-form'>
  <%= render 'form', post: @post %>
</div>
