body{
  margin: 0;
}

a{
 margin:0;
 padding:0;
 vertical-align:baseline;
 text-decoration: none;
 color: inherit;
}

input, select {
 vertical-align:middle;
}

header{
  height: 9vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #036;
  position: fixed;
  z-index: 999;
  top: 0;

  .header-left{
    display: flex;
    align-items: center;
    a{
      color: #fff;
      font-size: 3vw;
      font-weight: 700;
      margin-right: 1em;
      margin-left: 1em;
    }
    #search{
      width: 10vw;
      height: 2vw;
      padding: 4px;
    }
  }

  .header-right{
    display: flex;
    align-items: center;
    color: #fff;
    &-icon{
      display: flex;
      align-items: center;
      margin-right: 30px;
      font-size: 1.5vw;
      img,a{
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        object-fit:cover;
        object-position:0px 0px;
        margin-right: 0.5em;
      }
    }
    &-menu-1{
      margin-right: 40px;
      margin-left: 0.5em;
      a{
        font-size: 1vw;
        padding: 1em;
        border: 1px solid #fff;
        border-radius: 16px;
        transition: 0.3s;
      }
      a:hover{
        background-color: #369;
      }
    }
    &-menu-2{
      margin-right: 40px;
      margin-left: 0.5em;
      a{
        color: #fff;
        font-size: 1vw;
        padding: 1em;
        border: 1px solid #fff;
        border-radius: 16px;
        transition: 0.3s;
      }
      a:hover{
        background-color: #369;
      }
    }
  }
}

.container{
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 9vw;
  &-title{
    margin-bottom: 100px;
    h1{
      text-align: center;
      font-size: 3vw;
      letter-spacing: 0.2em;
      position: relative;
    }
  h1:before {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 30px);
    width: 60px;
    height: 5px;
    content: '';
    border-radius: 3px;
    background: orange;
}
  }
  &-footer{
    display: grid;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 200px;
    text-align: center;
    a{
      border: 1px solid #ccc;
      padding: 4px 10px;
      width: 100%;
      transition: 0.5s;
      border-radius: 4px;
      text-align: center;
    }
    a:hover{
      background-color: #ccc;
    }
    &-list{
      display: grid;
      width: 200px;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 40px;
    }
  }
}

footer{
  bottom: 0;
  height: 200px;
  background-color: #036;
  margin-top: 240px;
  color: #fff;
  padding-top: 40px;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 3fr 1fr;
  font-size: 2vw;
  .footer-title{
    text-align: center;
    a{
      font-size: 4vw;
      font-weight: 700;
      // margin-right: 1em;
      // margin-left: 1em;
    }
  }
  .footer-link{
    text-align: center;
    span{
      font-size: 3vw;
      color: paleturquoise;
    }
  }
  p{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin: 10px 0px;
    text-align: center;
  }
}

// pagenation
.paginate{
  margin: 0 auto;
  .pagination{
    display: flex;
    li{
      list-style: none;
      margin-right: 20px;
      a{
        border: none;
        color: #696969;
        padding: 12px;
        transition: 0.2s;
      }
      a:hover{
        border-bottom: 5px solid #93c9ff;
      }
    }
    .active{
      a{
        border: 5px solid #93c9ff;
      }
    }
  }
}
