.content{
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  height: 600px;
  margin-bottom: 100px;
  &-left{
    background-image: url(content-left.png);
    background-size: 100% ;
    background-position: center;
    background-repeat: no-repeat;
    transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
    box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    a{
      font-size: 24px;
      text-align: center;
      position: absolute;
      top: 55%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      opacity: 0;
      transition: 0.5s;
    }
  }
  &-left:hover{
    box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 1);
    transform: translateY(-10px);
    a{
      opacity: 1;
    }
  }
  &-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    &-list{
      background-image: url(content-right.png);
      background-size: cover;
      transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
      box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.5);
      position: relative;
          background-size: 50% ;
    background-position: center;
    background-repeat: no-repeat;
      a{
        font-size: 24px;
        text-align: center;
        position: absolute;
        top: 55%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        margin:0;
        padding:0;
        opacity: 0;
        transition: 0.5s;
      }
    }
    &-list:hover{
      box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 1);
      transform: translateY(-10px);
      a{
        opacity: 1;
      }
    }
  }
}
