//posts

.content-index{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 40px;
  &-item{
    padding: 20px;
    transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
    box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &-top{
      h1{
        margin: 0;
        font-size: 20px;
      }
      a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    &-bottom{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-end;
      &-left{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        align-items: flex-end;
        img{
          width: 90%;
          border-radius: 50%;
        }
      }
    }
  }
    &-item:hover{
    box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 1);
    transform: translateY(-10px);
  }
}

//posts#new

.current-user{
  input{
  pointer-events: none;
  color: #fff;
  border-width: 0px;
  box-shadow: none;
  }
}

//posts#show

.post-profile{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  &-left{
    display: flex;
    align-items: center;
    img{
      width: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    p{
      margin-right: 20px;
    }
  }
}

.like-btn{
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}
