//posts

.content-index{
  display: grid;
  grid-auto-rows: 200px;
  gap: 40px;
  &-item{
    padding: 30px;
    transition: box-shadow 0.5s ease-out, transform 0.5s ease-out;
    box-shadow: 0 8px 5px 3px rgba(0, 0, 0, 0.5);
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &-top{
      h1{
        margin: 0;
        font-size: 20px;
      }
      a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    &-bottom{
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: flex-end;
      &-left{
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        img{
          width: 60px;
          height: 60px;
          border-radius: 50%;
          object-fit:cover;
          object-position:0px 0px;
        }
      }
      &-right{
        display: grid;
        grid-template-columns: 2fr 0.1fr 0.1fr;
        align-items: center;
      }
    }
  }
    &-item:hover{
    box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 1);
    transform: translateY(-10px);
  }
}

//posts#new

.post-form{
    .label-title{
      padding: 10px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      font-weight: bold;
      border: solid 2px black;
      width: 80px;
    }
  .current-user{
    input{
      pointer-events: none;
      color: #fff;
      border-width: 0px;
      box-shadow: none;
    }
  }
  .space{
    height: 80px;
  }

  .firld{
    label{
      font-size: 22px;
      letter-spacing: 0.7em;
      margin-bottom: 20px;
    }
  }

  .hidden_box{
    margin: 2em 0;
    padding: 0;

    .step{
      padding: 10px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      font-weight: bold;
      border: solid 2px black;
      width: 80px;
      cursor :pointer;
    }

    .step:hover{
      background: #efefef;
    }

    input{
      display: none;
    }

    #label1:checked ~ .hidden_show{
      padding: 10px 0;
      height: auto;
      opacity: 1;
    }

    .hidden_show{
      height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
      transition: 0.5s;
    }

    #label2:checked ~ .hidden_show2{
      padding: 10px 0;
      height: auto;
      opacity: 1;
    }

    .hidden_show2{
      height: 0;
      padding: 0;
      overflow: hidden;
      opacity: 0;
      transition: 0.5s;
    }
  }
}

//posts#show

.post-profile{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  &-left{
    display: flex;
    align-items: center;
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit:cover;
        object-position:0px 0px;
    }
    p{
      margin-right: 20px;
    }
  }
}

.post-content{
  h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    letter-spacing: 0.7em;
  }
  p{
    border: 1px solid #ddd;
  }
  &-list{

  }
}

.like-btn{
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}

.comment{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .btn{
      width: 120px;
      margin-top: 20px;
    }
  }
  &-content{
    margin-bottom: 40px;
    &-profile{
      display: flex;
      align-items: center;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit:cover;
        object-position:0px 0px;
      }
      p{
        font-size: 12px;
        margin-left: 60px;
      }
      &-delete{
        font-size: 12px;
        margin-left: 80px;
        a{
          border: 1px solid #ccc;
          padding: 4px;
          transition: 0.5s;
          border-radius: 4px;
        }
        a:hover{
          background-color: #ccc;
        }
      }
    }
  }
}
