.popular-index{
  display: grid;
  grid-template-columns: repeat(5, 30%);
  gap: 60px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-bottom: 200px;

    &-item{
      scroll-snap-align: center;
      position: relative;
      transition: 0.3s;
      a{
        position: absolute;
        width: 100%;
        height: 100%;
      }
      &-top{
        img{
          width: 100%;
          border-radius: 20px;

        }
        .like-btn{
          padding: 10px;
        }
      }

      &-bottom{
        padding: 10px;

        &-left{
          font-size: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
white-space: nowrap;
        }

        &-right{
          text-align: end;
        }

      }
    }
    &-item:hover{
      margin: 20px;
    }
}

//posts

.content-index{
  display: grid;
  gap: 40px;
  justify-content: center;

  &-item{
    padding: 20px;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 7fr;
    border: 2px solid #036;
    width: 90vw;

    &-top{
      text-align: center;
      img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit:cover;
        object-position:0px 0px;
      }


      a{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
      }
    }
    &-bottom{
      display: grid;
      grid-template-rows: 1fr 1fr;

      &-left{
      h1{
        margin: 0;
        font-size: 20px;
      }

      }
      &-right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-end;
        p{
          margin: 0;
        }
      }
    }
  }
    &-item:hover{
    box-shadow: 0 15px 10px 5px rgba(0, 0, 0, 1);
    transform: translateY(-10px);
  }
}

//posts#new

.post-form{
    .label-title{
      padding: 10px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      font-weight: bold;
      border: solid 2px black;
      width: 100px;
    }
  .current-user{
    input{
      pointer-events: none;
      color: #fff;
      border-width: 0px;
      box-shadow: none;
    }
  }
  .space{
    height: 80px;
  }
}

.grad-wrap{
  .grad-btn {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    border: solid 2px black;
    width: 100px;
    cursor :pointer;
  }
  .grad-btn::before {
    content: "STEP1 ▼"
  }
  .grad-item {
    position: relative;
    overflow: hidden;
    height: 0px; /*隠した状態の高さ*/
    margin-bottom: 20px;
  }

  .grad-item::before{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }

  .grad-trigger {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger:checked ~ .grad-btn::before {
    content: "STEP１ ▲"
  }
  .grad-trigger:checked ~ .grad-item {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger:checked ~ .grad-item::before {
    display: none;
  }
}

.grad-wrap2{
  .grad-btn2 {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    border: solid 2px black;
    width: 100px;
    cursor :pointer;
  }
  .grad-btn2::before {
    content: "STEP2 ▼"
  }
  .grad-item2 {
    position: relative;
    overflow: hidden;
    height: 0px; /*隠した状態の高さ*/
    margin-bottom: 20px;
  }

  .grad-item2::before{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /*グラデーションで隠す高さ*/
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }

  .grad-trigger2 {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger2:checked ~ .grad-btn2::before {
    content: "STEP2 ▲"
  }
  .grad-trigger2:checked ~ .grad-item2 {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger2:checked ~ .grad-item2::before {
    display: none;
  }
}

.grad-wrap3{

  .grad-btn3 {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
    border: solid 2px black;
    width: 100px;
    cursor :pointer;
  }
  .grad-btn3::before {
    content: "STEP3 ▼"
  }
  .grad-item3 {
    position: relative;
    overflow: hidden;
    height: 0px; /*隠した状態の高さ*/
    margin-bottom: 20px;
  }

  .grad-item3::before{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
    content: "";
  }

  .grad-trigger3 {
    display: none; /*チェックボックスは常に非表示*/
  }
  .grad-trigger3:checked ~ .grad-btn3::before {
    content: "STEP3 ▲"
  }
  .grad-trigger3:checked ~ .grad-item3 {
    height: auto; /*チェックされていたら、高さを戻す*/
  }
  .grad-trigger3:checked ~ .grad-item3::before {
    display: none;
  }
}
//posts#show

.post-profile{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  &-left{
    display: flex;
    align-items: center;
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit:cover;
        object-position:0px 0px;
    }
    p{
      margin-right: 20px;
    }
  }
}

.post-content{
  h2{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
    letter-spacing: 0.7em;
  }
  p{
    border: 1px solid #ddd;
  }
}

.like-btn{
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}

.comment{
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  form{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    .btn{
      width: 120px;
      margin-top: 20px;
    }
  }
  &-content{
    margin-bottom: 40px;
    &-profile{
      display: flex;
      align-items: center;
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit:cover;
        object-position:0px 0px;
      }
      p{
        font-size: 12px;
        margin-left: 60px;
      }
      &-delete{
        font-size: 12px;
        margin-left: 80px;
        a{
          border: 1px solid #ccc;
          padding: 4px;
          transition: 0.5s;
          border-radius: 4px;
        }
        a:hover{
          background-color: #ccc;
        }
      }
    }
  }
}
