pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

th {
  padding-bottom: 5px; }

td {
  padding: 0 5px 7px; }

.field {
  margin-bottom: 40px;
  label{
    background-color: #036;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.3em;
  }
  input{
    height: 30px;
    width: 100%;
    border: solid 1px #ccc;
    padding: 10px;
    font-size: 18px;
  }
}
.actions{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 150px;

    label{
      font-size: 18px;
      margin-bottom: 10px;
    }
  input{
    height: 60px;
    border-radius: 4px;
    background-color: #e95;
    border: #e95 2px solid;
    color: #eee;
    width: 80%;
    letter-spacing: 1em;
    font-size: 24px;
    transition: 0.5s;
    cursor :pointer;
  }
  input:hover{
    opacity:0.8;
  }
}

#notice {
  z-index: 1000;
  position: absolute;
  top: 0;
  margin: 0;
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;

  color: red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block;
}

.form-error{
  color: red;
}
